<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
    <meta name="csrf" content="{{_csrf}}">
    <meta name="min" content="{{useMin}}">
    <meta name="initialApp" content="{{initialApp}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>

    <link href="/css/vendor.css" rel="stylesheet">
	{{#if useMin}}
    <link href="/css/app.min.css" rel="stylesheet">
    <link href="/css/print.min.css" media="print" rel="stylesheet">
	{{else}}
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/print.css" media="print" rel="stylesheet">
	{{/if}}
	<!--[if lt IE 8]>
        <link href="/css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
        <link href="/css/ie.css" rel="stylesheet">
        <script>
        var isIE8 = true;
        </script>
    <![endif]-->
    <script language="JavaScript" type="text/javascript" src="/js/VisitorAPI.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/AppMeasurement.js"></script>
</head>
<body class="{{bodyClass}}">
	{{{body}}}
</body>
</html>